<html>
    <head>
        <title>Learning Sinatra</title>
        <link href="/stylesheets/cheatsheet.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
      <%=yield %>
    </body>
</html>