<h1>MENU</h1>
<hr />
<ol>
  
   <li>
     <a href = '/command_line'><%= @selections[0]%></a>
   </li>
   <li>
      <a href = '/search'><%= @selections[1]%></a>
   </li>
   <li>
     <a href = 'https://www.google.com' target = _blank><%= @selections[2]%></a>
   </li>
</ol>

