<h1>SEARCH MAN PAGES</h1>
<a href = '/'>Back to menu</a>
<hr />

<form action='/search_result' method='POST'>
  <input type='text' placeholder = 'search for command' name='input'/>
  <input type='submit'/>
</form>

