<h1>About ME</h1>
  <h3>Places I've lived </h3>
    <ul>
      <li>Utah</li>
      <li>Alaska</li>
      <li>Idaho</li>
      <li>Massachusetts</li>
    </ul>
<hr />
<h3>Siblings</h3>
  <ol>
    <li>Richard</li>
    <li>Melinda</li>
    <li>Timmy</li>
    <li>Robby</li>
    <li>Alex</li>
  </ol>
<hr />
<a href = "/contact_me">Contact Me</a>
<a href = "/resume">    Resume</a>

