<h1>Contact ME:</h1>
<h1>e-mail: <a href="mailto:ottjw@yahoo.com">ottjw@yahoo.com</a></h1>
<h1>801-913-1458</h1>
<hr />
<p><a href = "/">Back to About ME</a></p>
<p><a href = "/resume">to Resume</a></p>