<h2>Work History</h2>
<ul class = "work">
  <li>Welder</li>
  <li>Technician</li>
  <li>Seller of popcorn</li>
  <li>secret agent</li>
  <li>husband</li>
  
</ul>

<hr />

<p><a href = "/">Back to About ME</a></p> 
<p><a href = "/contact_me">to Contact ME</a></p>